/* Global CSS for all pages */
.el-row-csm-flex{
	display: flex;

	> .el-col{
    	flex-direction: column;

    	.box{
    		height: 100%;
    	}
	}
}

.right-toolbar{
	text-align: right;

	.btn-app{
	    padding: 7px 5px;
	    min-width: 60px;
	    height: 50px;
	}
}

.el-table{
	.el-table__body{
		td{
			padding: 3px 0px;

			.el-button{
				padding: 5px 15px;
			}
		}
	}
}