$ease-out: all .3s cubic-bezier(0.23, 1, 0.32, 1);

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  // @else if $class == xlg {
  //   @media (min-width: 1279px) { @content; }
  // }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@import url(http://fonts.googleapis.com/icon?family=Material+Icons);

.multiselect{
  min-height: 34px !important;

  .multiselect__select{
    height: 30px !important;
  }

  .multiselect__tags{
    min-height: 34px !important;
    padding: 4px 40px 0 8px !important;
    border: 1px solid #d2d6de !important;
  }

}


.member-form{

  .member-list{
    table{
      width: 100%;
      table-layout: unset !important;
    }

    ul.material-pagination{
      list-style: none;
    }

    .toolbar{      
      position: absolute;
      right: 140px;
      top: 33px;

    }
  }

  .member-create{

    .input-name{
      display: inline-block;

      >input{
        margin-right: 5px;
        float: left;
      }

    }

    .content-btn{

      button{
        margin: 0 auto;
        display: block;
      }

    }

    .mx-datepicker{
      width: 100% !important;
    }

  }

}

.member-view{

  .tab-content{
    padding: 15px;

    .table{

      td{
        position: relative;

        .close{
          top: -15px;
        }

      }

      .action-column{
        width: 20px;
        vertical-align: top !important;
      }

    }

    #family table, #address table{

      td{
        width: 10%;
      }

    }

    .update-link{
      padding: 0px 6px;
      border-bottom: 1px dashed #3c8dbc;
    }

  }


  .float-multiselect{
    position: absolute;
    z-index: 2;
    display: none;
    width: 100%; 
    background-color: #fff;

    .mx-datepicker{
      width: 100% !important;
    }

    .close{
      position: absolute;
      right: 3px;
      font-size: 12px;
      cursor: pointer;
    }

  }

  .box-profile{
    padding-bottom: 30px !important;

    .image-container{
      margin-bottom: 20px;
    }

    .content-name{
      position: relative;

      input{
        margin-top: 3px;
      }

    }

    .list-group{
      margin-top: 30px;

      .list-group-item{
        padding-right: 10px;
      }

    }

    .close{
      bottom: -15px;
    }

  }


  .svg_edit, .svg_delete{
    font-size: 10px;
    vertical-align: top;

    i{
      vertical-align: top;
    }
  }

}

.close, .svg_edit, .svg_delete, .update-link{
  cursor: pointer;
}
        