/* Global CSS for all pages */

.el-row-csm-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.el-row-csm-flex > .el-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.el-row-csm-flex > .el-col .box {
  height: 100%;
}

.right-toolbar {
  text-align: right;
}

.right-toolbar .btn-app {
  padding: 7px 5px;
  min-width: 60px;
  height: 50px;
}

.el-table .el-table__body td {
  padding: 3px 0px;
}

.el-table .el-table__body td .el-button {
  padding: 5px 15px;
}

