html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/*
    ================ Custom CSS =====================
*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/material-design/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('/fonts/material-design/MaterialIcons-Regular.woff2') format('woff2'),
    url('/fonts/material-design/MaterialIcons-Regular.woff') format('woff'),
    url('/fonts/material-design/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.main-header .logo .logo-mini>img{
    width: 100%;
    padding: 5px;
}
.main-header .logo .logo-lg>img{
    width: 40px;
    margin-right: 5px;
}


.register-page {
    background: #fff !important;
}

.login-box .login-box-body{
    border-radius: 10px;
}

.login-logo img{
    margin: 0 auto;
    display: flex;
    width: 100px;
}

.site-login{
    padding: 100px;}
    .site-login h1, .site-login p{
        text-align: center;
    }

.form-control
{
    border-radius: 5px !important;
}

.box-header{
    padding: 7px 15px !important;}
    .box-header>.box-tools{
        right: 15px !important;
        top: 10px !important;
    }

.box-body{
    padding: 7px 15px !important;
}

.main-preloader {
    position: fixed; 
    left: 0; top: 0; 
    z-index: 9994; 
    width: 100%; 
    height: 100%; 
    overflow: visible; 
    background: rgba(0,0,0,0.1)  url(../images/loading.gif) no-repeat center center;
    display: none;
}

.content-header {
    padding: 15px 0px 15px 0px !important;
}

.detail-view th{
    width: 30%;
}
.tab-content .detail-view tbody tr th,
.tab-content .detail-view tbody tr td{
    border-top: none !important;
    padding: 8px 0px;
    vertical-align: middle !important;
}
.user .user-header{
    height: auto !important;
}
.dropdown-user-image{
    width: 110px;
    height: 110px;
    margin: 0 auto;
}

/* Avatar Image */
.image-container{
    width: 150px;
    margin: 0 auto;
}
.circle-avatar {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/user.png);
    background-color: #DCDCDC;
}

.auto-width{ width: auto !important; }
.full-width{ width: 100% !important;  }
.w300-width{ width: 300px !important;  }

/**
    Spacing for reusabilty and to avoid redundancy :(
*/
    /* Margin All */
.m-5 { margin: 5px !important; }
.m-10 { margin: 10px !important; }
.m-15 { margin: 15px !important; }
.m-20 { margin: 20px !important; }
.m-25 { margin: 25px !important; }
.m-30 { margin: 30px !important; }
.m-40 { margin: 40px !important; }
.m-50 { margin: 50px !important; }
.m-100 { margin: 100px !important; }

/* Margin Top */
.mt-5 { margin-top: 5px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-15 { margin-top: 15px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-25 { margin-top: 25px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-50 { margin-top: 50px !important; }
.mt-100 { margin-top: 100px !important; }

/* Margin Left */
.ml-5 { margin-left: 5px !important; }
.ml-10 { margin-left: 10px !important; }
.ml-15 { margin-left: 15px !important; }
.ml-20 { margin-left: 20px !important; }
.ml-25 { margin-left: 25px !important; }
.ml-30 { margin-left: 30px !important; }
.ml-40 { margin-left: 40px !important; }
.ml-50 { margin-left: 50px !important; }
.ml-100 { margin-left: 100px !important; }

/* Margin Right */
.mr-5 { margin-right: 5px !important; }
.mr-10 { margin-right: 10px !important; }
.mr-15 { margin-right: 15px !important; }
.mr-20 { margin-right: 20px !important; }
.mr-25 { margin-right: 25px !important; }
.mr-30 { margin-right: 30px !important; }
.mr-40 { margin-right: 40px !important; }
.mr-50 { margin-right: 50px !important; }
.mr-100 { margin-right: 100px !important; }

/* Margin Bottom */
.mb-5 { margin-bottom: 5px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-25 { margin-bottom: 25px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-50 { margin-bottom: 50px !important; }
.mb-100 { margin-bottom: 100px !important; }

/* Padding All */
.p-5 { padding: 5px !important; }
.p-10 { padding: 10px !important; }
.p-15 { padding: 15px !important; }
.p-20 { padding: 20px !important; }
.p-25 { padding: 25px !important; }
.p-30 { padding: 30px !important; }
.p-40 { padding: 40px !important; }
.p-50 { padding: 50px !important; }
.p-100 { padding: 100px !important; }

/* Padding Top */
.pt-5 { padding-top: 5px !important; }
.pt-10 { padding-top: 10px !important; }
.pt-15 { padding-top: 15px !important; }
.pt-20 { padding-top: 20px !important; }
.pt-25 { padding-top: 25px !important; }
.pt-30 { padding-top: 30px !important; }
.pt-40 { padding-top: 40px !important; }
.pt-50 { padding-top: 50px !important; }
.pt-100 { padding-top: 100px !important; }

/* Padding Left */
.pl-5 { padding-left: 5px !important; }
.pl-10 { padding-left: 10px !important; }
.pl-15 { padding-left: 15px !important; }
.pl-20 { padding-left: 20px !important; }
.pl-25 { padding-left: 25px !important; }
.pl-30 { padding-left: 30px !important; }
.pl-40 { padding-left: 40px !important; }
.pl-50 { padding-left: 50px !important; }
.pl-100 { padding-left: 100px !important; }

/* Padding Right */
.pr-5 { padding-right: 5px !important; }
.pr-10 { padding-right: 10px !important; }
.pr-15 { padding-right: 15px !important; }
.pr-20 { padding-right: 20px !important; }
.pr-25 { padding-right: 25px !important; }
.pr-30 { padding-right: 30px !important; }
.pr-40 { padding-right: 40px !important; }
.pr-50 { padding-right: 50px !important; }
.pr-100 { padding-right: 100px !important; }

/* Padding Bottom */
.pd-5 { padding-bottom: 5px !important; }
.pd-10 { padding-bottom: 10px !important; }
.pd-15 { padding-bottom: 15px !important; }
.pd-20 { padding-bottom: 20px !important; }
.pd-25 { padding-bottom: 25px !important; }
.pd-30 { padding-bottom: 30px !important; }
.pd-40 { padding-bottom: 40px !important; }
.pd-50 { padding-bottom: 50px !important; }
.pd-100 { padding-bottom: 100px !important; }
